body {
  background-image: url('../assets/876590.png');
  background-size: cover;
}

#InSe {
  background-color: #C9C9C9;
  border-radius: 10px;
}

#t {
  color: #342F2F;
}

#t1 {
  color: white;
}

#t2 {
  color: #051F45;
}

#linea {
  background-color: #5A5959;
}

#input {
  border-radius: 10px;
}

#BtnGreen {
  border-radius: 10px;
  background-color: #55A031;
}

#BtnBlue {
  border-radius: 10px;
  background-color: #4A5A7A;
}

#BtnRed {
  border-radius: 10px;
  background-color: #B13D3D;
}

#card {
  background-color: #6B6B6B;
}

#InP {
  background-color: #A0A0A0;
  border-radius: 10px;
}

#ImgRM {
  width: 50%;
  border-radius: 25%;
}

#tba {
  border-radius: 100%;
  width: 50%;
}

#cRP {
  background-color: #D9D9D9;

}