<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop RM</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root">
        <!-- inicio sesion -->
        <div class="container w-25 mt-5 mb-5  w-50-responsive border" >
            <form >
                <legend class="text-success fw-bold">Iniciar sesión</legend>
                <input v-model="Userl" type="text" class="form-control"aria-describedby="emailHelp" placeholder="Usuario" required>
                <br>
                <input v-model="Passl" type="password" class="form-control"aria-describedby="emailHelp" placeholder="Password" required>
                <br>
                <button type='submit' class="btn btn-success mb-2" @click="Login">Iniciar sesión</button>
                <br>
                <button type='submit' class="btn btn-warning mb-2" @click="Log=1">Crear Usuario</button>
            </form>
        </div>
        <!-- Fin inicio sesion -->

        <!-- inicio registro -->
        <div class="container w-25 mt-5 mb-5  w-50-responsive border" v-if="Log == 1">
            <form >
                <legend class="text-success fw-bold">Crear cuenta nueva</legend>
                <input v-model="Userl" type="text" class="form-control"aria-describedby="emailHelp" placeholder="Usuario" required>
                <br>
                <input v-model="Name" type="text" class="form-control"aria-describedby="emailHelp" placeholder="Nombre" required>
                <br>
                <input v-model="Email" type="email" class="form-control"aria-describedby="emailHelp" placeholder="Email" required>
                <br>
                <input v-model="Number" type="number" class="form-control"aria-describedby="emailHelp" placeholder="Telefono" required>
                <br>
                <input v-model="Passl" type="password" class="form-control"aria-describedby="emailHelp" placeholder="Password" required>
                <br>
                <button type='submit' class="btn btn-success mb-2" @click="Login">Crear cuenta nueva</button>
                
            </form>
        </div>
        <!-- Fin registro -->
    </div>
    <script src="main.js"></script>   
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</html>